*:focus {
    outline: none !important;
}

a {
    color: $link-color !important;
}

body, html {
    color: $text-color;
    background-color: $background-color !important;
}

blockquote {
    border-left: 3px solid $border-color;
}

.minerva__tab-container,
.page-actions-menu {
    display: none;
}
