$base-color: red;
$background-color: black;

$text-color: $base-color;
$link-color: lighten($base-color, 20%);
$icon-color: darken($base-color, 20%);
$border-color: $base-color;
$note-color: #380000;
$toc-color: #3a0000;
$image-opacity: 0.4;

@media (prefers-color-scheme: dark) {
    @import "base";
    @import "headfoot";
    @import "content";
    @import "buttons";
    @import "input";
    @import "images";
    @import "related";
    @import "navbox";
    @import "sidebar";
}
